extends layout

block body

  div( ui-view )


  script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true_or_false")
  script(src="all_scripts.min.js")
  script(src="http://code.jquery.com/jquery-migrate-1.0.0.js")



  script(src='/socket.io/socket.io.js')
  script(src="scripts/dev/superfish.js")
  script(src="scripts/dev/elastislide/js/modernizr.custom.17475.js")
  script(src="scripts/dev/elastislide/js/jquery.elastislide.js")
  script(src="scripts/dev/jquery.elevatezoom.js")

  script(src="scripts/dev/async/async.js")

