doctype html
html(ng-app="myApp")
 head
  meta(charset='utf8')
  meta(name="google-site-verification",content="t9n9a5XL2AEpx-VPw9g_Tp1aI6sUiS6FSXZyB5NHzZo")
  meta(name='yandex-verification',content='65cce014d9035216')
  meta(name="msvalidate.01",content="4B217818D1B388D23ACAB8AD7A0B7687")
  base(href='/')
  title(ng-bind="titles.pageTitle")
  meta(name="keywords",content="{{titles.pageKeyWords}}")
  meta(name="description",content="{{titles.pageDescription}}")
  meta(name="author",content="Your name")
  meta(name="fragment",content="!")
  link(rel="icon",href="img/favicon.ico",type="image/x-icon")
  link(rel="shortcut icon",href="img/favicon.ico",type="image/x-icon")
  link(rel="stylesheet",href="css/bootstrap.css",type="text/css",media="screen")
  link(rel="stylesheet",href="css/responsive.css",type="text/css",media="screen")
  link(rel="stylesheet",href="css/style.css",type="text/css",media="screen")
  link(rel="stylesheet",href="css/angular-date-range-picker.css",type="text/css",media="screen")
  link(rel="stylesheet",href="css/docs.css",type="text/css",media="screen")
  link(rel="stylesheet",href="css/touchTouch.css",type="text/css",media="screen")
  link(rel="stylesheet",type="text/css",href="css/css1/elastislide.css")
  link(rel="stylesheet",type="text/css",href="css/css1/custom.css")
 body
  div( ui-view )
  script(type="text/javascript",src="dev_scripts.min.js")
  script(type="text/javascript",src="js/dev/superfish.js")
  script(src="js/dev/modernizr.custom.17475.js")
  script(type="text/javascript",src="scripts.min.js")