<div>
    <div class="col-md-12 text-center" >
        <div class="form-group col-md-12 text-center"  ng-hide="fileSrc=='/nofile' || !fileSrc"><!--ng-show="myFileSrc!='/nofile' && myFileSrc"-->
            <img ng-src="{{fileSrc}}" class="img-responsive"/>
        </div>
    </div>
    <div class="form-group" >
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-success"  ng-disabled="noChange" onclick ="javascript:document.getElementById('imagefile').click();">выбор фото</button>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-danger pull-right" ng-click="deleteImg()" ng-disabled="!fileSrc || fileSrc=='/nofile'">удалить</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-info pull-right" ng-click="uploadImg()" ng-disabled="noLoad">загрузить</a>
        </div>
        <input type="file" file-read-src="fileSrc" my-file="myFile" name="image" id="imagefile" style='visibility: hidden;'/>
    </div>

</div>
