       
		<div class="bg-content">
        	<div id="content">
                <div class="container">
                	<div class="row">
                        <article class="col-lg-4">
                            <div class="list-blog">
                                <img class="span4" src="img/dostavka/2.png">
                            </div>
                        </article>
                        <article class="col-lg-8">
                            <div class="list-blog ">
                                <p ng-bind-html="trustHtml(stuff.desc0[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc1[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc2[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc3[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc4[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc5[lang])">
                                </p>
                            </div>

                        </article>
                	</div>
     			</div><!--container-->
  			</div><!--content-->
		</div><!--bg-content-->
    
