       
		<div class="bg-content">
      		<div id="content">
                <div class="container">
                	<div class="row">
                        <article class="col-lg-4">
                            <div class="list-blog">
                                <img class="span4" src="img/dostavka/1087.jpg">
                            </div>
                        </article>
                        <article class="col-lg-8">
                            <div class="list-blog">
                                <p ng-bind-html="trustHtml(stuff.desc0[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc1[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc2[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc3[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc4[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc5[lang])">
                                </p>
                                <p ng-bind-html="trustHtml(stuff.desc6[lang])">
                                </p>
                                <!--<h3>Способы оплаты товара:</h3>
                                <p><strong class="block-slogan">Перевод на карточку.</strong> Покупатель переводит деньги на карточку продавца по указанному менеджером номеру карты.</p>

                                <p><strong class="block-slogan">Банковский перевод.</strong> Покупатель переводит деньги со своего счёта на счёт продавца. Или другой вариант - покупатель оплачивает квитанцию на имя продавца. Комиссия при этом минимальна и зависит только от условий отдельно взятого банка.</p>		

                                <p><strong class="block-slogan">Почтовый перевод.</strong> Покупатель переводит деньги по почте продавцу.</p>

                                <p><strong class="block-slogan">Электронная система платежей.</strong> Покупатель может воспользоваться такой системой платежей, как WebMoney, Яндекс-деньги и т.п., для перевода денег со своего интернет-кошелька на интернет-кошелек продавца. Это самый быстрый способ оплаты товаров.</p>

                                <p><strong class="block-slogan">Оплата денежным международным переводом</strong> Золотая корона, Migom, Contact или любой другой, удобной для Вас, системой международных переводов.</p>
                                                         							<p><strong class="text-error">Дополнительные условия оплаты. </strong>Укажите, пожалуйста, дополнительные пожелания условий оплаты в комментариях к заказу, в форме обратной связи или по телефону Вашему менеджеру.</p>-->
                            </div>
                        </article>
                    </div>
                </div><!--container-->
            </div><!--content-->
        </div><!--bg-content-->
    
