extends layout

block body

  div( ui-view )



  script(src="bower_components/jquery/jquery.js")

  script(src='bower_components/angular/angular.js')

  script(src='bower_components/angular-route/angular-route.js')


  script(src='bower_components/ngFx/dist/ngFx.js')

  script(src='scripts/app.js')

